apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: appname
    app: namenoenv
    environment: envname
    namespace: default
  name: appname
  namespace: default
spec:
  strategy:
    type: RollingUpdate
  progressDeadlineSeconds: 300
  selector:
    matchLabels:
      name: appname
  template:
    metadata:
      labels:
        name: appname
        app: namenoenv
        environment: envname
        namespace: default
      annotations:
        sidecar.istio.io/inject: "istiosidecarval"
    spec:
      serviceAccountName: namenoenv-sa
      containers:
        - image: docker.io/kubernetes-poc/namenoenv:envname
          imagePullPolicy: IfNotPresent
          name: appname
          ports:
            - name: http
              containerPort: 8000
          readinessProbe:
            httpGet:
              port: http
              path: /health
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              port: http
              path: /health
            initialDelaySeconds: 10
            periodSeconds: 5
          startupProbe:
            httpGet:
              port: http
              path: /health
            failureThreshold: 30
            periodSeconds: 5
          resources:
            limits:
              cpu: 300m
              memory: 300Mi
            requests:
              cpu: 300m
              memory: 300Mi
          envhere
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: namenoenv-sa
  namespace: default
